body{
	margin:auto;
	text-align:center;
	background-image: url("mccree.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 100%;
	font-size: 100%;
	font-style:oblique;
}